@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
}

.text-color {
  @apply text-black dark:text-white;
}

.box-bg-color {
  @apply bg-gray-700/30 dark:bg-gray-950/30;
}

.file-card-bg-color {
  @apply bg-gray-400 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-600;
}
